<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.relecotech.androidsparsh">


    <permission
        android:name="com.relecotech.androidsparsh.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.relecotech.androidapp.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.CAMERA" />


    <permission
        android:name="com.relecotech.androidsparsh.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.relecotech.androidapp.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="25" />

    <application
        android:name="com.relecotech.androidsparsh.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <service android:name="com.relecotech.androidsparsh.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.relecotech.androidapp" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.relecotech.androidsparsh.RegistrationIntentService"
            android:exported="false" />

        <service android:name="com.relecotech.androidsparsh.MyInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.relecotech.androidsparsh.activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.relecotech.androidsparsh.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.relecotech.androidsparsh.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.RegisterNewUser"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.ForgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.AssigmentApproval"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.AssignmentDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.AssignmentPost"
            android:label="New Assignment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.ImageVIewforAlertDialog"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.PickCameraImage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.FilePickerClass"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.ShowDownloadImage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.ShowDownloadPdf"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.TeacherReportListViewOfStudent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.TeacherReportForIndividualStudent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.relecotech.androidsparsh.activities.AttendanceReview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.AttachmentListPopulate"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.AttendanceMark"
            android:label="Mark Attendance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.AlertPost"
            android:label="New Alert"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.relecotech.androidsparsh.activities.Gallery"
            android:label="Gallery"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.relecotech.androidsparsh.activities.GalleryRecycler"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.relecotech.androidsparsh.activities.Rewards"
            android:label="Rewards"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.AddLeave"
            android:label="New Leave"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.AddNotes"
            android:label="New Note"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.ApproveLeave"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.ApproveNotes"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.EditUserDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.AttendanceStudentIndividual"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.TestingDownload"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.DownloadUserProfilePic"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.relecotech.androidsparsh.activities.AlertDetail"
            android:label="Alert Detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.relecotech.androidsparsh.MainActivity" />
        </activity>

        <activity
            android:name="com.relecotech.androidsparsh.MapsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.relecotech.androidsparsh.activities.SparshAbout"
            android:screenOrientation="portrait" />

        <receiver android:name="com.relecotech.androidsparsh.activities.AlarmReceiver">

        </receiver>
    </application>


</manifest>
